/* MOBILE FIRST */

/* GERAL */
.container {
    padding: 30px;
}
/* VARIÁVEIS */
:root {
    --head-light: #FFC2AA;
    --head-stand: #AA5939;
    --head-dark: #551800;

    --main-light: #718EA4;
    --main-stand: #294F6D;
    --main-dark: #042037;

    --game-light: #FFECAA;
    --game-stand: #AA9139;
    --game-dark: #554200;

    --title-size: 48px;
    --subtt-size: 32px;
    --texts-size: 18px;
}
/* BODY */
body {
    font-family: 'Montserrat',sans-serif;
    width: 100%;
}
/* HEADER */
header {
    width: 100%;
    background-color: var(--head-stand);
    }
    header .container {
        text-align: center;
    }
    header .container h1 {
        font-size: var(--title-size);
        font-weight: bold;
        color: var(--head-dark);
        text-shadow: 2px 2px 2px var(--head-light);
    }

/* MAIN */

main {
    width: 100%;
    background-color: var(--main-stand);
}
    main .container {
        text-align: center;
        margin: 0 auto;

    }

        main .container h2 {
            font-size: var(--subtt-size);
            font-weight: bold;
            color: var(--main-dark);
            text-shadow: 1px 1px 1px var(--main-light);
            padding-bottom: 30px;
        }
        main .container button#startGame {
            font-size: var(--subtt-size);
            font-weight: bold;
            color: var(--head-dark);
            text-shadow: 1px 1px 1px var(--head-light);
            background-color: var(--head-stand);
            border: none;
            border-radius: 8px;
            box-shadow: 3px 3px  var(--head-light);
            padding: 8px 32px 8px 32px;
            margin-bottom: 16px;
        }   
            main .container button#startGame:hover {
                color: var(--game-dark);
                text-shadow: 1px 1px 1px var(--game-light);
                background-color: var(--game-stand);
                box-shadow: 1px 1px var(--game-light) ;
                transform: translate(2px,2px);
            }

        main .container .clock {
            font-size: var(--subtt-size);
            font-weight: bold;
            color: var(--head-stand);
            text-shadow: 1px 1px var(--head-light);

            margin-bottom: 16px;
        }
    
    main .container .fullGameContainer {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
        
    main .container .gridContainer {
        display: none;
    }
        main .container .gridContainerShown {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

            width: 280px;
            margin: 0 10px 0 10px;
            box-sizing: border-box;
            border: 4px solid var(--game-dark);
            background-color: var(--game-stand);
            box-shadow: 3px 3px 3px var(--game-light);
        }
            main .container .gridContainerShown .grid-item {
                font-size: var(--texts-size);
                font-weight: bold;
                padding: 4px 0;
                border: 1px solid var(--game-dark);
            }
                main .container .gridContainerShown .grid-item:focus {
                    background-color: var(--game-light);
                }



    main .container .inputContainer {
        display: none;
        }

    main .container .inputContainerShown {
        max-width: 263px;
        margin: 0 auto;
        padding: 20px 0;
    }
        main .container .inputContainerShown label {
            box-sizing: border-box;
            font-size: var(--texts-size);
            font-weight: bold;
            color: var(--main-dark);
            text-shadow: .5px .5px .5px var(--main-light);
            padding-bottom: 30px;

        }

        main .container .inputContainerShown .formContainer {
            display: flex;
            flex-flow: row nowrap;

            padding: 16px 0;
        }
            main .container .inputContainerShown .formContainer input#userInput {
                box-sizing: border-box;
                border: none;
                outline: none;

                font-size: var(--texts-size);
                font-weight: bold;
                color: var(--head-dark);
                text-shadow: 1px 1px 1px var(--head-light);
                box-shadow: 3px 3px  var(--head-light);
                background-color: var(--head-stand);

                max-width: 65%;
                padding: 8px;
                border-radius: 8px;
            }
                main .container .inputContainerShown .formContainer input#userInput::placeholder {
                    color: var(--head-dark);
                }
        
        main .container .inputContainerShown .formContainer button{
            box-sizing: border-box;
            font-size: var(--texts-size);
            font-weight: bold;
            color: var(--game-dark);
            text-shadow: 1px 1px 1px var(--game-light);
            background-color: var(--game-stand);

            border: none;
            border-radius: 8px;
            box-shadow: 3px 3px  var(--game-light);
            
            width: 35%;
            padding: 0;
        }

        main .container .inputContainerShown div#errorMessage {
            height: 37px;
            margin: 0 auto;
            font-size: var(--texts-size);
            font-weight: bold;
            color: red;

        }

        main .container .inputContainerShown div#wordsFound {
            box-sizing: border-box;
            font-size: var(--texts-size);
            font-weight: bold;
            color: var(--main-dark);
            text-shadow: .5px .5px .5px var(--main-light);
            padding: 10px 0 10px 0;
        }

        main .container .inputContainerShown div#wordsContainer {
            height: 72px;
        }

        main .container .inputContainerShown div#wordsContainer span {
            box-sizing: border-box;
            font-size: var(--texts-size);
            font-weight: bold;
            color: var(--game-stand);
            text-shadow: .5px .5px .5px var(--game-light);
        }


/* MEDIA QUERIES */
@media screen and (min-width: 768px) {

/* GERAL */
main .container {
    max-width: 768px;
}
/* BODY */

/* HEADER */

/* MAIN */
main .container .fullGameContainer {
    display: flex;
    flex-flow: row nowrap;

    padding-top: 60px;
    padding-bottom: 60px;
}
    main .container .gridContainerShown {
        margin: 0 auto;
    }
    main .container .inputContainerShown {
        margin: 0 auto;
    }

}
